.badge{
    top: 10px;
    font-size: 17px;
    right: 20px;
}

.cards{
    border: 2px solid #0b5ed7;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.content{
    padding: 10px;
}